.number {
    color: var(--text-color);
    margin-right: 2%;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 24px;
    display: inline-block;
}

.instructions {
    padding-top: 10%;
    font-weight: 400;
    margin: 0% 20%;
}

.mat-list .mat-list-item {
    font-size: var(--font-size-medium);
}

#loadbutton {
    width: 10vh;
}

#lang {
    font-size: var(--font-size-small);
}

#viewing-history {
    color: var(--text-color);    
}

#viewing-history:hover {
    background-color: var(--detail-color)
}

.litem {
    margin-bottom: 2%;
}

#app-upload {
    width: 70%;
}

@media screen and (max-width: 60em) {
    .instructions {
        padding-top: 10%;
        font-weight: 400;
        margin: 0% 10%;
    }
  }