<div class="container">
  <div class="layer">
    <div class="instructions">
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><span class="number">1</span> Go to &nbsp;<a
            href="https://www.netflix.com/viewingactivity"
          >
            www.netflix.com/viewingactivity</a
          >
        </mat-list-item>
        <mat-list-item class="litem" role="listitem" id="lang"
          ><span class="number"></span><span class="number"></span>- Make sure
          the language is set to English</mat-list-item
        >
        <mat-list-item class="litem" role="listitem"
          ><span class="number">2</span> Scroll to the bottom of the page and
          press "Download all"</mat-list-item
        >
        <mat-list-item class="litem" role="listitem"
          ><span class="number">3</span>
          <app-upload></app-upload>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
