<div class="single-page-component main-container">
  <div class="layer" appDropfile>
    <app-instructions *ngIf="!failed"></app-instructions>
    <app-error-page *ngIf="failed"></app-error-page>
    <app-attribution id=attribution></app-attribution>
  </div>
</div>
<app-fake-stats-button *ngIf="!production"></app-fake-stats-button>
<div
  [ngClass]="loading || upload ? 'single-page-component' : 'hide'"
  id="spinner"
>
  <app-spinner *ngIf="loading"></app-spinner>
  <app-chart *ngIf="upload && !loading"></app-chart>
</div>
<!--
<div>
    <app-information></app-information>
</div>-->
