.hide {
    display: hidden;
}

.main-container {
    background-image: url("../../../assets/pexels-photo-758976.jpeg");
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

#attribution {
    position: absolute;
    bottom: 2vh;
    left: 1.5vh;
    width: 26vh;
    height: 2vh;
}

#disclaimer {
    position: absolute;
    bottom: 0vh;
    right: 1.5vh;
    font-size: var(--font-size-small);
}

#share {
    width: 40%;
    background-color: var(--detail-color);
    font-size: var(--font-size-medium);
    height: 10vh;
    margin: 5% 30%
}

@media screen and (max-width: 60em) {

    #attribution {
        position: absolute;
        bottom: 6vh;
        left: 10vh;
        width: 26vh;
        height: 2vh;
    }

    #share {
        width: 40%;
        background-color: var(--detail-color);
        font-size: var(--font-size-medium);
        height: 8vh;
        margin: auto 30%
    }

    #disclaimer {
        position: absolute;
        bottom: 2vh;
        right: 1.5vh;
        text-align: center;
        font-size: var(--font-size-small);
    }    
}