#stats {
    text-align: center;
}

.center {
    margin: 4% 0;
    font-weight: 400;
    font-size: larger;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.icon-text {
    margin: 0 4%;
    white-space:nowrap;
}

.mat-progress-spinner {
    margin: auto;
}

.float-left {
    float: left;
    width: 50%;
    height: 100;
}

.float-right {
    float: right;
    width: 50%;
    height: 100;
}