<div id="stats">
  <div class="float-left">
    <ul>
      <div>
        <li class="center" matTooltip="Total number of hours watched" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">watch_later</i><span class="icon-text"> {{(stats.totalTime).toFixed(1)}} hours
          </span><i class="material-icons">watch_later</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="Combined number of movies and tv-series episodes" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">live_tv</i><span class="icon-text"> {{titlesConsumed}} titles </span><i class="material-icons">live_tv</i>
        </li>
      </div>
      <div>
        <li class="center">
          <i class="material-icons">movie</i><span class="icon-text"> {{stats.movies}} movies </span><i class="material-icons">movie</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="Highest recorded viewing time on the same day" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">whatshot</i><span class="icon-text"> {{(stats.longestBinge).toFixed(1)}} hours,
            {{stats.longestBingeDate}} </span><i class="material-icons">whatshot</i>
        </li>
      </div>
      <div *ngIf="stats.notFound == 0">
        <li class="center" matTooltip="Number of titles for which no runtime was found" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">error</i><span class="icon-text"> {{stats.notFound}} titles not found </span><i
            class="material-icons">error</i>
        </li>
      </div>
      <div *ngIf="stats.notFound === 0">
        <li class="center" matTooltip="Number of titles for which no runtime was found" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">done</i><span class="icon-text"> All titles found </span><i class="material-icons">done</i>
        </li>
      </div>
    </ul>
  </div>
  <div class="float-right">
    <ul>
      <div>
        <li class="center" matTooltip="Your favorite movie" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">movie</i><span class="icon-text"> {{stats.mostWatchedMovie}}
          </span><i class="material-icons">movie</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">slideshow</i><span class="icon-text"> {{stats.mostWatchedMovieTimes}} times </span><i
            class="material-icons">slideshow</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="Your favorite series" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">favorite</i><span class="icon-text"> {{stats.mostWatchedSeries}} </span><i class="material-icons">favorite</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="Episodes watched of your favorite series" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">grade</i><span class="icon-text"> {{stats.mostWatchedSeriesEpisodes}} episodes</span><i
            class="material-icons">grade</i>
        </li>
      </div>
      <div>
        <li class="center" matTooltip="Hours spent watching your favorite series" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">hourglass_empty</i><span class="icon-text">
            {{(stats.mostWatchedSeriesTotalTime).toFixed(1)}} hours spent </span><i class="material-icons">hourglass_empty</i>
        </li>
      </div>
    </ul>

  </div>
</div>