#quickstats {
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  min-height: 50vh;
  margin: 2% auto 4% auto;
  padding-bottom: 4%;
  text-align: center;
  border-bottom: 1px solid white;
}

.column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--detail-color);
}

.column-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.column-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--detail-color);
}