<div class="container">
  <div class="grid-1-2 callout">
    <app-quickstats></app-quickstats>
    <app-linechart></app-linechart>
  </div>

  <div class="grid-3 callout">
    <app-barchart
      [titleText]="'Viewing Time per Month'"
      [labels]="monthLabels"
      [dataset]="months"
    ></app-barchart>
  </div>

  <div class="grid-4 callout">
    <app-barchart
      [titleText]="'Viewing Time per Year'"
      [labels]="yearLabels"
      [dataset]="years"
    ></app-barchart>
  </div>

  <div class="grid-5 callout">
    <app-barchart
      [titleText]="'Viewing Time per Weekday'"
      [labels]="weekdayLabels"
      [dataset]="weekdays"
    ></app-barchart>
  </div>

  <div class="grid-6 callout">
    <app-multi-linechart></app-multi-linechart>
  </div>
</div>
