/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/@angular/material/prebuilt-themes/purple-green.css";

:root {
  --primary-color: #db0000;
  --secondary-color: #000000;
  --text-color: #ffffff;
  --background-color: #564d4d;
  --detail-color: #831010;

  --font-size-small: 1vw;
  --font-size-medium: 2vw;
  --font-size-large: 3vw;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.single-page-component {
  min-height: 100vh;
}

@media screen and (max-width: 60em) {
  
  :root {
    --font-size-small: 3vw;
    --font-size-medium: 6vw;
    --font-size-large: 9vw;
  }
}
