<div>
  <!--
  <div style="display: block">
    <canvas baseChart [datasets]="weekdays" [labels]="weekdayLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  -->
  <!--<button (click)="randomize()">Update</button>-->
  
  <div style="display: block"  class="col-md-6">
    <canvas baseChart [datasets]="years" [labels]="yearLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  
</div>