<div class="headline">
  <h1>Statistics</h1>
</div>
<div class="container">
  <div class="grid-1 callout mat-elevation-z4 box" id="stats">
    <app-statistics></app-statistics>
  </div>

  <div class="grid-2 callout">
    <div style="display: block" class="mat-elevation-z4">
      <canvas baseChart class="box" [datasets]="weekdays" [labels]="weekdayLabels" [options]="DayChartOptions" [legend]="barChartLegend" [colors]="chartColors"
        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div class="grid-3 callout">
    <div style="display: block" class="mat-elevation-z4">
      <canvas baseChart class="box" [datasets]="months" [labels]="monthLabels" [options]="MonthChartOptions" [legend]="barChartLegend" [colors]="monthColors"
        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div class="grid-4 callout">
    <div style="display: block" class="mat-elevation-z4">
      <canvas baseChart class="box" [datasets]="years" [labels]="yearLabels" [options]="YearChartOptions" [legend]="barChartLegend" [colors]="yearColors"
        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>

